@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@700&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'IBM Plex Sans Arabic', sans-serif;
}

/* header */

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

input button {
    outline: none;
    border: none;
}

nav {
    display: flex;
    justify-content:space-around;
    align-items:center;
    left: 0;
    top: -5;
    z-index: -2;
    width: 100%;
}

nav ul {
    display: flex;
}

.logo {
    position: absolute;
    top: 4%;
    left: 9.9%;
    right: 0;
    bottom: 0;
}

.menu{
    position: absolute;
    top: -2%;
    left: 51%;
}

nav ul li a{
    font-size: 17px;
    font-family: "Segoe UI";
    color: rgb(254, 254, 254);
    line-height: 5.167;
    text-align: center;
    margin: 5px;
    padding: 0 21px;
    display: flex;
    transition: 0.5s ease-in-out;
}

/* content */

.header{
    width: 100%;
    height: 768px;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(./images/image.png);
    box-sizing: border-box;
    margin-left: -25px;
}

.main-heading{
    width: 600px;
    height: 800px;
    position: absolute;
    left: 9.9%;
    top: 18.1%;
}
  

.main-heading h1{
    font-size: 58px;
    font-family: "Segoe UI";
    color: rgb(1, 9, 39);
    font-weight: bold;
    line-height: 1.55;
    width: 461.696px;
    height: 138px;
}
  

.main-heading p{
    color: rgb(1, 9, 39);
    font-size: 14px;
    font-family: 'Segoe UI';
    line-height: 1.643;
    width: 394px;
    height: 15px;
}


  
 .btn{
    width:150px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 83, 30);
    border-radius: 12px;
    color: rgb(254, 254, 254);
    transition:0.01s ease-in;
    font-size: 14px;
    font-family: 'Segoe UI';
    position: absolute;
    left: 0.0100%;
    top: 38.5%;
}

.main{
    width: 100%;
    height:110vh;
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding:50px 5% 0px 5%;
    position: relative;
    box-sizing: border-box;
}

.main img{
    width: 55%;
    height: 104%;
    position: absolute;
    top: 15%;
    left: 3.2%;
}

.text{
    width: 100%;
    height: 100%;
    position: relative;
}

.text h4{
    font-size: 14px;
    font-family: "Montserrat";
    color: rgb(137, 158, 167);
    text-transform: uppercase;
    line-height: space-between;
    position:absolute;
    left: 89.5%;
    top: 29.5%;
    margin: 2px;
    padding: 0 7px;
}
  
.text h1{
        font-size: 50px;
        font-family: "Segoe UI";
        color: rgb(1, 9, 39);
        font-weight: bold;
        text-align: right;
        position:absolute;
        line-height: 0.967;
        left: 62%;
        top: 26%;
  }
  
  .text p{
    font-size: 15px;
    color: rgb(47, 47, 47);
    font-family: "Myriad Pro";
    text-align: right;
    position:absolute;
    left: 58.9%;
    top: 52.6%;
  }

.btn-main2{
    font-size: 12px;
    font-family: "Myriad Pro";
    float: right;
    text-transform: uppercase;
    line-height: 1.917;
    text-align: center;
    position:absolute;
    color: rgb(255, 255, 255);
    left: 85.8%;
    top: 72.5%;
}
  
.btn2 {
    background-color: rgb(255, 83, 30);
    width:150px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    transition:0.02s ease-in;
  }
  /* f-container */

.f-container{
    width: 90%;
    height: 120vh;
    position: relative;
    top: 56%;
    left: 4%;
  }


.fueture{
    width: 100%;
    height: 140vh;
    box-sizing: border-box;
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
}
.f-heading{
    text-align: center;
    margin: 20px 0px;
    width: 100%;
    height: 250px;
    position: absolute;
    top: 305.8%;
    left: 62px;
}

.f-heading h1{
    font-size: 40pt;
    font-family: 'Segoe UI', bold;
    margin: 20px 0px;
    color: #010927;
}

.f-heading h4{
    letter-spacing: 2px;
    font-family: "Montserrat";
    color: rgb(137, 158, 167);
    position: relative;
    top: 10%;
    left: -10px;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.f-box{
    width: 350px;
    margin: 20px;
    overflow:hidden;
    border-radius: 15px;
}
  
.f-tex h3{
    font-size: 15pt;
    font-family: 'Myriad Pro', 'Regular', 'Crisp';
    color: rgb(1, 9, 39);
    line-height: 2.333;
    text-align: left;
    position: relative;
    left: 1px;
    top: -25px;
}
.f-tex p{
        font-size: 17px;
        font-family: 'Myriad Pro', 'Regular', 'Crisp';
        color: rgb(47, 47, 47);
        line-height: 1.733;
        position: relative;
        width: 345px;
        height: 40px;
        left: 1px;
        top: -50px;
}

.container .f-tex h3{
    font-size: 15pt;
    font-family: 'Myriad Pro', 'Regular', 'Crisp';
    color: rgb(1, 9, 39);
    line-height: 2.333;
    text-align: left;
    position: relative;
    left: 1px;
    top: -25px;
}
.container .f-tex p{
        font-size: 17px;
        font-family: 'Myriad Pro', 'Regular', 'Crisp';
        color: rgb(47, 47, 47);
        line-height: 1.733;
        position: relative;
        width: 345px;
        height: 40px;
        left: 1px;
        top: -50px;
}
  
/* footer */

footer{
    width: 100%;
    height: 400px;
    background-image: url(./images/footer.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-self: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 461%;
}

footer h4 {
    font-size: 14px;
    font-family: "Montserrat";
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    text-align: center;
    align-items: center;
    position: relative;
    top: 64px;
    left: 15px;
    z-index: 5;
  }  

footer h1{
    font-size: 44px;
    font-family: 'Segoe UI';
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-align: center;
    line-height: 1.16;
    position: relative;
    top: 19px;
    left: 35px;
    z-index: 4;
}

footer p{
    font-size: 18px;
    font-family: "WorkSans";
    color: rgb(255, 255, 255);
    line-height: 2;
    text-align: center;
    width: 1104px;
    height: 53px;
    position: relative;
    top: -15px;
    left: 35px;
    z-index: 3;
}

  

  
  

  


